body{ 
    background-color: black;
    color: aliceblue;
    display: flex;
}

.product{
    margin-left: 5%;
    background-color: #343A40;
    padding-bottom: 1%;
    width: 1000px;
    margin-right: 0%;
    
}

h3{
    margin-left: 10%;
}
.heading{
    text-align: center;
}

.images{
    margin-left: 10%;
    margin-right: 20%;
    display: flex;
    background-color: #003554;
}

img{
    height: 150px;
    width: 250px;
    padding-top:0.5%;
    padding-bottom: 0.3%;
    padding-left: 0.5%;
    padding-right: 1% ;
}
h4{
    text-align-last: right;
}
.button{
    color: white;
    background-color: deeppink;
}
.tab{
    display: inline-block;
    width: 270px;
}
.icon-bar {
    width: 30px;
    background-color:rgb(18, 16, 16);
    display: block;
    text-align: center;
    padding:16px;
    font-size: 25px;
}
.icon{
    margin-left: 30%;
    display: block;
    font-size: 20px;
 }  

 