* {
    background-color: black;
}

.minibox {
    position: relative;
    background-color: gray;
    width: 250px;
    height: 320px;
    display: inline;
    border-radius: 10px;
}

h2 {
    padding: 4px;
    display: inline;
    color: white;
    background-color: gray;
    text-align: center;

}

.price {
    /* padding: 17px; */
    background-color: gray;
    position: relative;
    right: 5px;
    display: inline;
    color: rgb(224, 144, 192);
}

p {
    background-color: gray;
    margin-left: 10px;
}

#read {
    background-color: rgb(202, 43, 178);
    margin-right: 130px;
    margin-left: 10px;
     height: 25px;
    text-align: center;
    border-radius: 10px;
    display: flex;

}

#main {
    display: flex;
    gap: 50px;
    border-radius: 10%;
}

#scroll {
    
    width: 30vw;
    height: 700px;
    background-color: grey;
    text-align: center;
    padding: 0px;
    align-items: center;
    border-radius: 5px;
    
}






.div1{
    width: 250px;
    height: 140px;
    position: relative;
    bottom: 0;
    background-color: gray;
    border-radius: 10px;
}
#img{
    /* display: flex; */
    position: relative;
    top: 0px;
    left: 210px;

}
#main1{
    position: relative; 
    /* align-self: flex-end; */
    /* width: 80vh; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* .div11{
    background-color: gray;
    position: relative;
    display: flex;
    gap: 5px;
} */
.abc{
    align-items: center;

}
.brc {
    background-color: rgb(65, 65, 65);
    width: 17vw;
    color:white ;
    padding: 10px;
    margin-left: 50px;
    margin-right: 30px;
    text-align: left;
    border-radius: 10px;
    /* margin-left: 10px; */
}
#side{
    background-color:rgb(51, 47, 47);
    width: 100px;

    
}
.image{
    width: 40px;
    height: 40px;
    /* padding: 10px; */
    margin: 10px 10px 10px 10px;
}
.bottom{
    width: 40px;
    height: 40px;
    margin: 50px 10px 10px 10px;
}
#a1{
    margin-top: 320px;
}
