*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* container-> the main box in which entire web-page is present
 min-width and min-height to ensure height of container increase according to content */


.container{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: black;
}
/* side bar with icons of home, shopping, cart , favorites etc..*/
.side-bar{
    width: 45px;
    min-height: 100%;
    background-color: black;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}
/* made two divs upper-icons and lower-icons so that I can use flex properties to space them 
cursor pointer to distinguish them as clickable icons but for now they are not clickable*/
.upper-icons{
    color:white;
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 18px;
    cursor: pointer;
}
.upper-icons i:hover{
    color: rgb(235, 65, 184);
}
.lower-icons{
    color: white;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    cursor: pointer;

}
.upper-icons .cart-icon .pending-number{
    width: 17px;
    height: 15px;
    font-size: 14px;
    background-color: rgb(235, 65, 184);
    text-align: center;
    border-radius: 9px 9px;
    margin-left: 10px;
    position: relative;
    top:5px;
    z-index: 1;
}
.upper-icons .favorites .pending-number{
    width: 17px;
    height: 15px;
    font-size: 14px;
    background-color: rgb(235, 65, 184);
    text-align: center;
    border-radius: 9px 9px;
    margin-left: 10px;
    position: relative;
    top:5px;
    z-index: 1;
}
/*Main section */
.hero{
    min-height: 100%;
    width: 100%;
    background-color: #121212;
    
}
/*Div which contains all cards */
.cardBox{
    position: relative;
    top: 76px;
    left: 45px;
    background-color: #121212;
}
/*Added animation to cards and some more properties*/
.card1,.card2,.card3{
    width:70%;
    height: 35%;
    background-color: #1B263B;
    padding: 10px;
    margin: 25px 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    animation: cardAnimation 1s ease 0.3s;
}
@keyframes cardAnimation{
    0%{
        width: 50%;
        opacity: 0;
    }
    100%{
        width: 70%;
        opacity: 1;
        border: 2px solid white;
    }
}
.card1:hover,.card2:hover,.card3:hover{
    cursor:pointer;
    box-shadow: 0 2px 5px black;
    border: 1px solid white;
    scale: 1.02;
    transition: all ease 0.5s;
}
.title{
    height: 76px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #121212;
    width:100%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 45px;
    z-index: 1;
}

.image{
    width:40%;
    height: 100%;
    /* background-color: chartreuse; */
    /* padding: 10px; */
    
}
.image img{
        width: 100%; 
        height: 150px; 
        border-radius: 8px;
        /* float: left; */
}
.product-name{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight:600;
}
p{
    line-height: 25px;
}
.product button{
    background-color: rgb(235, 65, 184);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-weight: 540;
    margin-top: 7px;
    cursor: pointer;
}
.product{
    width: 100%;
    padding: 10px;
    min-height: fit-content;
}
.price{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-tag{
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight:bold;
}
.product-description{
    color: rgb(189, 178, 178);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;

}
.menu-icon{
    margin-right: 30px;
    cursor: pointer;
}

/*Media queries for responsiveness  */
/* Below 700px and above 400px */

@media (max-width:700px) {
    .image{
        width: 65%;
    }
    .image img{
        width: 100%;
    }
}
/* Below 400px */

@media (max-width:400px) {
    .container{
        min-height: 100vh;
    }
    .image{
        width: 100%;
        height: 75%;
        padding: 10px;
        
    }
    .card1,.card2,.card3{
        display: flex;
        flex-direction: column; 
        padding: 5px 10px;
        justify-content: space-evenly;
    }
    .hero{
        min-height: auto;
    }
    .product{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .price{
        margin-bottom: 30px;
    }
}


