body{
    background-color: rgb(50, 18, 77);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.Heading{
    font-size: 50px;
    font-weight: bolder;
}

.empty{
    height: 150px;
}

.content{
    margin:auto;
    width: 350px;
    transition: 0.7s ease;
}
/* .content:hover{
    background-color: rgb(190, 5, 5);
} */
.content img{
    margin: auto;
}
.space{
    height: 60px;
}